<%- include('partials/header'); -%>

<h1>Home</h1>

<p><%= homeStartingContent %></p>

<% posts.forEach(function(n){ %>
 <h3><%=  n.title; %></h3>
 <p><%=  (n.content).substring(0,100)+" ...."; %>
   <a href="/posts/<%=n._id%>">Read More</a>
 </p>
<%}); %>

<%- include('partials/footer'); -%>
